<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">

    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$institution['name']}</span>



    </div>

  <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>课程列表</h1>
        </div>
        <foreach name="courses" item="course">
	        <div class="passage_t">
	            <span class="shenhe"></span>
	            <span class="passage_title">{$course['name']}</span>
	            <span id="title_bar"><a href="#"> 编辑 </a>|<a href="#"> 删除 </a>
	            </span>
	        </div>
        </foreach>
    </div>
</body>

</html>
