<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>机构用户管理</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/institution/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>

    <div id="topbar">
        <span>欢迎 {$institution['name']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>课程列表</h1>
        </div>
        <div style="margin: 10px;">
            <h3>* 开课状态</h3>
            <select id="select-display" name="select" style="border: 2px solid #ededed; border-radius: 3px;">
                <option value="1">已上线</option>
                <option value="-1">未上线</option>
            </select>
        </div>
        <table width="100%">
            <tr>
                <th>课程名称</th>
                <th>开课时间</th>
                <th>授课老师</th>
                <th>费用</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

            <foreach name="courses" item="course">
                <tr>
                    <td>{$course['name']}</td>
                    <td>{$course['start_time']}</td>
                    <td>{$course['teacher']}</td>
                    <td>{$course['cost']}</td>
                    <td>
                        <if condition="$course['display'] eq 1">已上线
                            <else />未下线
                        </if>
                    </td>
                    <td><a href="/mz/index.php/admin/institution/postCourse/institution_id/{$course['id']}"> 编辑 </a>
                        |
                        <a name="btn-delete" href="javascript:void(0);" data-id="{$course['id']}"> 删除 </a> 

                        <if condition="$course['display'] eq 1">|<a name="btn-display" href="javascript:void(0);" data-id="{$course['id']}"> 下线 </a> 
                            <else />|<a name="btn-undisplay" href="javascript:void(0);" data-id="{$course['id']}"> 上线 </a> 
                        </if>
                    </td>
                </tr>
            </foreach>
        </table>
        <div class="syxy">
            <button id="btn-pre" class="submit">上一页</button>
            <button id="btn-next" class="submit">下一页</button>

        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    var display = "{$display}";
    var cur_page = parseInt("{$page}");
    var url_tpl = "{:U('admin/institution/courseList','','')}/display/{display}/page/{page}";
    var url = "{:U('admin/institution/courseList','','')}" + '/page/';

    $('#select-display').val(display);
    $('#select-display').on('change', function() {
        console.log(url_tpl.replace('{display}', $(this).val()).replace('{page}', cur_page));
        location = url_tpl.replace('{display}', $(this).val()).replace('{page}', cur_page);
    });

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/ins/';
            } else {
                console.log(data.msg);
            }
        });
    });

    //翻页
    //前一页
    $('#btn-pre').on('click', function() {
        if(cur_page === 1){
            alert('已经是第一页！');
            return;
        }
        location = url_tpl.replace('{display}', $('#select-display').val()).replace('{page}', cur_page-1);
    });

    //后一页
     $('#btn-next').on('click', function() {
        // location = url + (parseInt(cur_page) - 1);
        location = url_tpl.replace('{display}', $('#select-display').val()).replace('{page}', cur_page+1);
    });

     //下线课程
     $('[name=btn-display]').on('click',function(){
         var $ele = $(this);
         var course_id = $(this).data('id');
         $.post("{:U('/home/course/undisplayCourse')}",{
            course_id : course_id,
         },function(json){
                if(json.code){
                      alert('操作成功');
                      setTimeout(function(){
                        $ele.parent().parent().fadeOut();
                      }, 500);
                }else{
                    alert('操作失败，'+json.msg);
                    console.log(json.msg);
                }
         });
     });

     //上线课程
     $('[name=btn-undisplay]').on('click',function(){
         var $ele = $(this);
         var course_id = $(this).data('id');
         $.post("{:U('/home/course/displayCourse')}",{
            course_id : course_id,
         },function(json){
                if(json.code){
                      alert('操作成功');
                      setTimeout(function(){
                        $ele.parent().parent().fadeOut();
                      }, 500);
                }else{
                    alert('操作失败，'+json.msg);
                    console.log('操作失败，'+json.msg);
                }
         });
     });




    //删除课程
    $('[name=btn-delete]').on('click', function() {
        var $ele = $(this);
        var course_id = $ele.data('id');
        console.log(course_id);

        $.post("{:U('home/course/delete')}", {
            course_id: course_id,
        }, function(json) {
            console.log(json);
            if (json.code) {
                alert('删除成功');
                $ele.parent().parent().fadeOut();
            } else {
                alert('删除失败');
            }
        });
    });
})(jQuery);
</script>

</html>
