<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业用户管理</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/institution/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$institution['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style=" width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; padding-bottom: 60px">
        <div class="ht">
            <h1>发布课程</h1>
        </div>
        <div id="cat_wr">
            <table width="100%" border="0">

                <tr>
                    <td style="width: 20%">
                        <div class="mz-text-center">
                            <span>*</span>课程名称</div>
                    </td>
                    <td style="width: 80%">
                        <input id="text-name" class="inp" type="text" style="height:100%;width:100%;" value="{$course['name']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>开课地址</div>
                    </td>
                    <td>
                        <input id="text-address" class="inp" type="text" style="height:100%;width:100%;" value="{$course['address']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>授课老师</div>
                    </td>
                    <td>
                        <input id="text-teacher" class="inp" type="text" style="height:100%;width:100%;" value="{$course['teacher']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>课程费用</div>
                    </td>
                    <td>
                        <input id="text-cost" class="inp" type="text" style="height:100%;width:100%;" value="{$course['cost']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>开课时间</div>
                    </td>
                    <td>
                        <input id="text-start_time" class="inp" type="text" style="height:100%;width:100%;" value="{$course['start_time']}" placeholder=" 格式：年-月-日 如 2014-10-1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>补贴项目</div>
                    </td>
                    <td>
                        <span style="color: black;font-size: 14px;" id="text-subsidy" data-id="{$course['subsidy_id']}">{$subsidy['kind']} {$subsidy['level']} {$subsidy['title']}</span>
                        <input id="btn-select" type="submit" class="submit" value="选 择" style="margin-left: 10px;">
                          <input id="btn-select-cancle"class="submit" type="reset" value="取 消" style="background-color: red"></input>
                        <div style="margin-left:10px;">
                            <div>
                                证书类别
                                <select id="select-certificate" name="select" style=" border: 2px solid #ededed; border-radius: 3px;">
                                    <option value="0">请选择</option>
                                    <foreach name="certificateTypes" item="c">
                                        <option value="{$c['certificate_type']}">{$c['certificate_type']}</option>
                                    </foreach>
                                </select>
                            </div>
                            <div>项目类别
                                <select id="select-kind" name="select" style="border: 2px solid #ededed; border-radius: 3px;">
                                    <option value="0">请选择</option>
                                    <foreach name="kinds" item="k">
                                        <option value="{$k['kind']}">{$k['kind']}</option>
                                    </foreach>
                                </select>
                            </div>
                            <div>&nbsp;等&nbsp;&nbsp;&nbsp;&nbsp;级&nbsp;
                                <select id="select-level" name="select" style="border: 2px solid #ededed; border-radius: 3px;">

                                </select>
                            </div>
                            <div>&nbsp;工&nbsp;&nbsp;&nbsp;&nbsp;种&nbsp;
                                <select id="select-title" name="select" style="border: 2px solid #ededed; border-radius: 3px;">

                                </select>
                            </div>
                            <div>
                                <input id="btn-select-comfirm" type="submit" class="submit" value="确 认" data-subsidy="">
                              
                            </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>课程介绍</div>
                    </td>
                    <td height="400">
                        <script id="editor" type="text/plain" style="height:100%;width:100%"></script>
                    </td>
                </tr>

                <tr>
                    <td class="mz-text-center">
                        <span>*</span>是否上线</td>
                    <td>
                        <if condition="$course['display'] eq 1 ">
                            <input type="radio" name="radio" checked="checked" value="1">是
                            <input type="radio" name="radio" value="-1">否
                            <else />
                            <input type="radio" name="radio" value="1">是
                            <input type="radio" name="radio" checked="checked" value="-1">否
                        </if>

                    </td>
                </tr>
                <tr>
                    <td class="mz-text-center">
                        <span>*为必填</span>
                    </td>
                    <td>
                        <input id="btn-submit" type="submit" class="submit" value="发 布">
                    </td>
                </tr>

            </table>
            </div>
        </div>

</body>

<!-- UEditor START-->
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- UEditor end-->

<script type="text/javascript">
var initContent = '{$course["introduction"]}';

//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor', {
    toolbars: [
        ['fullscreen', 'undo', 'redo', 'bold']
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    enableAutoSave: false,
    saveInterval: 2000000000,
    enableContextMenu: false, //打开右键菜单功能
    initialContent: '', //初始化编辑器的内容
    initialFrameWidth: 920,
});

ue.ready(function() {
    ue.setContent(initContent);
});
</script>

<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    var course_id = "{$course['id']}"; //课程id
    var subsidy_id = "{$course['subsidy_id']}"

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/ins/';
            } else {
                console.log(data.msg);
            }
        });
    });
    //s

    //发布&更新课程
    $('#btn-submit').on('click', function() {
        var name = $('#text-name').val();
        var address = $('#text-address').val();
        var teacher = $('#text-teacher').val();
        var cost = $('#text-cost').val();
        var start_time = $('#text-start_time').val();
        var introduction = UE.getEditor('editor').getContent();
        var display = $('input[name="radio"]:checked').val();
        var subsidy_id = $('#text-subsidy').data('id');


        if (name === '') {
            alert("课程名称不能为空");
            return;
        }
        if (address === '') {
            alert("地址为空");
            return;
        }
        if (cost === '') {
            alert("课程费用不能为空");
            return;
        }
        if (introduction === '') {
            alert("课程简不能为空");
            return;
        }

        if(start_time === ''){
            alert("开课时间不能为空");
            return;
        }
        //验证时间格式
        if(!/^\d{4}-\d{1,2}-\d{1,2}$/.test(start_time)){
                alert('开课时间格式不对');
                return ;
        }

        var post_data = {
            name: name,
            address: address,
            teacher: teacher,
            cost: cost,
            start_time: start_time,
            introduction: introduction,
            display: display,
        };
        if (subsidy_id !== '') {
            post_data['subsidy_id'] = subsidy_id;
        }

        if (course_id === '') {
            //发布
            $.post("{:U('home/course/post')}", post_data, function(json) {
                if (json.code) {
                    alert('发布课程成功！');
                    setTimeout(function() {
                        location = "{:U('admin/institution/courseList')}";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        } else {
            //更新
            post_data['course_id'] = course_id;
            $.post("{:U('home/course/update')}", post_data, function(json) {
                console.log(json);
                if (json.code) {

                    alert('更新课程成功！');
                    setTimeout(function() {
                        location = "{:U('admin/institution/courseList')}";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        }
    });
    //处理选择补贴项目的交互
    $txt_subsidy = $('#text-subsidy');
    $btn_select = $('#btn-select');
    $btn_comfirm = $('#btn-select-comfirm');
    $btn_cancle = $('#btn-select-cancle');
    $sel_certificate = $('#select-certificate');
    $sel_kind = $('#select-kind');
    $sel_level = $('#select-level');
    $sel_title = $('#select-title');

    function initSubsidy(n) {
        switch (n) {
            case 1:
                $btn_cancle.fadeOut();
                $sel_certificate.parent().hide();
            case 2:
                $sel_kind.parent().hide();
            case 3:
                $sel_level.parent().hide();
            case 4:
                $sel_title.parent().hide();
            case 5:
                $btn_comfirm.parent().hide();
        }

    }

    $sel_certificate.on('change', function() {
        if ($sel_certificate.val() !== 0) {
            $sel_kind.parent().fadeIn();
            initSubsidy(3);
        } else {

        }
    });

    function load_option(url, selector, type_name, callback) {
        $.get(url, {}, function(json) {
            if (json.code) {
                selector.html('');
                var _html = '<option value="0">请选择</option>';
                var _tpl = '<option value="{_name_}">{_name_}</option>';
                for (num in json.response) {
                    var _value = json.response[num][type_name];
                    _html += _tpl.replace('{_name_}', _value).replace('{_name_}', _value);
                }
                selector.html(_html);
                selector.parent().fadeIn();

                callback();
            } else {
                alert('出错了...');
            }
        });
    }

    $sel_kind.on('change', function() {
        if ($sel_kind.val() !== 0) {
            var params = ['certificate_type=' + $sel_certificate.val(), 'kind=' + $sel_kind.val()].join('&');

            var _url = "{:U('home/subsidy/getLevels','','')}" + '?' + params;
            load_option(_url, $sel_level, 'level', function() {
                initSubsidy(4);
            });
        } else {

        }
    });

    $sel_level.on('change', function() {
        if ($sel_level.val() !== 0) {
            var params = ['certificate_type=' + $sel_certificate.val(), 'kind=' + $sel_kind.val(), 'level=' + $sel_level.val()].join('&');

            var _url = "{:U('home/subsidy/getTitles','','')}" + '?' + params;
            load_option(_url, $sel_title, 'title', function() {
                initSubsidy(5);
            });
        } else {

        }
    });

    $sel_title.on('change', function() {
        if ($sel_title.val() !== 0) {
            $btn_comfirm.parent().fadeIn();
        }
    });

    $btn_comfirm.on('click', function() {
        var certificate_type = $sel_certificate.val();
        var kind = $sel_kind.val();
        var level = $sel_level.val();
        var title = $sel_title.val();

        $.get("{:U('/home/subsidy/search')}", {
            certificate_type: certificate_type,
            kind: kind,
            level: level,
            title: title,
        }, function(json) {
            if (json.code) {
                $txt_subsidy.text(kind + '-' + level + '-' + title);
                $txt_subsidy.data('id', json.response[0].id);
                initSubsidy(1);
            } else {
                alert(json.msg);
            }
        })

    });

    $btn_cancle.on('click',function(){
         initSubsidy(1);
        
    });

    $btn_select.on('click', function() {
        $sel_certificate.parent().show();
        $sel_certificate.val(0);
        $btn_cancle.fadeIn();
    });

  
    initSubsidy(1);

})(jQuery);
</script>

</html>
