<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>机构用户管理</title>


    <script type="text/javascript" src="js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/institution/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$institution['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style=" width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>发布课程</h1>
        </div>
        <div id="cat_wr">
            <table width="100%" border="0">
                <tr>
                    <td width="50">
                        <div align="right">课程名称</div>
                    </td>
                    <td width="400">
                        <input id="text-name" class="inp" name="textarea3" type="text" style="height:100%;width:100%;" value="{$course['name']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="right">开课地址</div>
                    </td>
                    <td>
                        <input id="text-address" class="inp" type="text" style="height:100%;width:100%;" value="{$course['address']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="right">授课老师</div>
                    </td>
                    <td>
                        <input id="text-teacher" class="inp" type="text" style="height:100%;width:100%;" value="{$course['teacher']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="right">课程费用</div>
                    </td>
                    <td>
                        <input id="text-cost" class="inp" type="text" style="height:100%;width:100%;" value="{$course['cost']}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="right">课程介绍</div>
                    </td>
                    <td>
                        <textarea id="text-introduction" class="inp" style="height:100%;width:100%;">{$course['introduction']}</textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="btn-submit" type="submit" class="submit" value="发布">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/ins/';
            } else {
                console.log(data.msg);
            }
        });
    });
    //s

    //发布&更新课程
    $('#btn-submit').on('click', function() {
        var course_id = "{$course['id']}"; //课程id
        var name = $('#text-name').val();
        var address = $('#text-address').val();
        var teacher = $('#text-teacher').val();
        var cost = $('#text-cost').val();
        var introduction = $('#text-introduction').val();

        if (name === '') {
            alert("课程名称不能为空");
            return;
        }
        if (address === '') {
            alert("地址为空");
            return;
        }
        if (cost === '') {
            alert("课程费用不能为空");
            return;
        }
        if (introduction === '') {
            alert("课程简不能为空");
            return;
        }

        var post_data = {
            name: name,
            address: address,
            teacher: teacher,
            cost: cost,
            introduction: introduction,
        };
        if (course_id === '') {
            //发布
            $.post("{:U('home/course/post')}", post_data, function(json) {
                if (json.code) {
                    alert('发布课程成功！');
                    setTimeout(function() {
                        location = "{:U('admin/institution/manage')}";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        }else{
             //更新
            post_data['course_id'] = course_id;
            $.post("{:U('home/course/update')}", post_data, function(json) {
                if (json.code) {
                    alert('更新课程成功！');
                    setTimeout(function() {
                        location = "{:U('admin/institution/manage')}";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        }

    });
})(jQuery);
</script>

</html>
