<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>机构用户管理</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/institution/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$institution['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style=" width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>登记信息</h1>
        </div>
        <div id="cat_wr">
            <table style="width:100%; border:0">
                <tr>
                    <td width="80">
                        <div class="mz-text-center">
                            <span>*</span>机构名称</div>
                    </td>
                    <td width="400">
                        <input id="text-name" class="inp" type="text" style="height:100%;width:100%;" value="" placeholder="必填">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">机构地址</div>
                    </td>
                    <td>
                        <input id="text-address" class="inp" type="text" style="height:100%;width:100%;" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="mz-text-center">机构负责人</div>
                    </td>
                    <td>
                        <input id="text-manager" type="text" class="inp" style="height:100%;width:100%;" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">办学类型</div>
                    </td>
                    <td>
                        <input id="text-type" class="inp" type="text" style="height:100%;width:100%;" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">批准文号</div>
                    </td>
                    <td>
                        <input id="text-approval_number" class="inp" type="text" style="height:100%;width:100%;" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">有效时间</div>
                    </td>
                    <td>
                        <input id="text-validity_date" class="inp" type="text" style="height:100%;width:100%;" value="" placeholder=" 格式：年-月-日 如 2014-10-1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">培训范围</div>
                    </td>
                    <td>
                        <input id="text-training_scope" class="inp" type="text" style="height:100%;width:100%;" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">师资力量</div>
                    </td>
                    <td>
                        <input id="text-validity_date" type="text" class="inp" style="height:100%;width:100%;" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="mz-text-center">有效期</div>
                    </td>
                    <td>
                        <input id="text-validity_date" type="text" class="inp" style="height:100%;width:100%;" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>联系人</div>
                    </td>
                    <td>
                        <input id="text-validity_date" type="text" class="inp" style="height:100%;width:100%;" value="" placeholder="必填">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="mz-text-center">
                            <span>*</span>联系电话</div>
                    </td>
                    <td>
                        <input id="text-validity_date" type="text" class="inp" style="height:100%;width:100%;" value="" placeholder="必填">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="mz-text-center">联系邮箱</div>
                    </td>
                    <td>
                        <input id="text-validity_date" type="text" class="inp" style="height:100%;width:100%;" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center">描述</div>
                    </td>

                    <td height="400">
                        <script id="editor" type="text/plain" style="height:100%"></script>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mz-text-center"><span>*</span>附件</div>
                    </td>

                    <td >
                        <input id="text-validity_date" type="file" class="inp" value="" >
                        <span>*最大文件大小为4MB,只能上传1文件,建议上传用zip</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="btn-submit" class="submit" value="发布" type="submit">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
<!-- UEditor START-->
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- UEditor end-->

<script type="text/javascript">
var initContent = '';

//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor', {
    toolbars: [
        ['fullscreen', 'undo', 'redo', 'bold']
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    enableAutoSave: false,
    saveInterval: 2000000000,
    enableContextMenu: false, //打开右键菜单功能
    initialContent: '', //初始化编辑器的内容
    initialFrameWidth: 910,
});

ue.ready(function() {
    ue.setContent(initContent);
});
</script>

<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/ins/';
            } else {
                console.log(data.msg);
            }
        });
    });


    function insert(src, key, val) {
            if (val !== '') {
                src[key] = val;
            }
        }
        //更新用户信息
    $('#btn-submit').on('click', function() {
        console.log("click");
        var uid = "{$uid}";
        var name = $('#text-name').val();
        var address = $('#text-address').val();
        var type = $('#text-type').val();
        var approval_number = $('#text-approval_number').val();
        var training_scope = $('#text-training_scope').val();
        var manager = $('#text-manager').val();
        var validity_date = $('#text-validity_date').val();
        // var description = $('#text-description').val();
        var description = UE.getEditor('editor').getContent();

        var post_data = {};
        insert(post_data, 'uid', uid);
        insert(post_data, 'name', name);
        insert(post_data, 'address', address);
        insert(post_data, 'type', type);
        insert(post_data, 'approval_number', approval_number);
        insert(post_data, 'training_scope', training_scope);
        insert(post_data, 'manager', manager);
        insert(post_data, 'validity_date', validity_date);
        insert(post_data, 'description', description);

        $.post("{:U('home/institution/update')}", post_data, function(json) {
            if (json.code) {
                alert('更新成功！');
                setTimeout(function() {
                    location = "{:U('admin/institution/manage')}";
                }, 1000);
            } else {
                alert(json.msg);
            }
        }).fail(function(err) {
            console.log(err);
        });
    });



})(jQuery);
</script>

</html>
