<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">

    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/institution/updateInfo')}" onclick="DoMenu('ChildMenu1')">登记信息</a>

                </li>
                <li><a href="{:U('admin/institution/postCourse')}" onClick="DoMenu('ChildMenu2')">发布课程</a>

                </li>
                <li><a href="{:U('admin/institution/courseList')}" onClick="DoMenu('ChildMenu3')">课程列表</a>

                </li>

            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$institution['name']}</span>



    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style=" width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="bt">
            <h1>登记信息</h1>
        </div>
        <div id="cat_wr">
            <div class="fbk">

                <div class="nr">
                    <div class="nr_a">
                        <span>机构名称:</span>
                        <input type="text" style="width:400px;" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <span>机构地址:</span>
                        <input type="text" style="width:400px;" name="textfield" />
                    </div>

                    <div class="nr_a">
                        <span>办学类型:</span>
                        <input type="text" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <span>批准文号:</span>
                        <input type="text" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <span>培训范围:</span>
                        <input type="text" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <span>机构负责人:</span>
                        <input type="text" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <span>有效期:</span>
                        <input type="text" name="textfield" />
                    </div>
                    <div class="nr_a">
                        <div class="nr_b">

                            <span>描 述:</span>
                        </div>
                        <textarea name="textarea" style="width:95%;height:300px;border-radius:5px;margin-left:5px;border:2px solid #ededed;margin-right:10px;padding:10px;"></textarea>
                    </div>
                </div>
                <div class="sub">
                    <input type="submit" class="submit" value="登记">
                </div>
            </div>
        </div>
    </div>

</body>

</html>
