<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">用户列表置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表置</a>
                </li>
                <li><a href="#Menu=ChildMenu5" onClick="DoMenu('ChildMenu5')">机构管理</a>
                    <ul id="ChildMenu5" class="collapsed">
                        <li><a href="{:U('admin/index/checkInstitution','checked=0')}">待审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=1')}">已通过审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=-1')}">未通过审核机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu6" onClick="DoMenu('ChildMenu6')">文档信息管理</a>
                    <ul id="ChildMenu6" class="collapsed">
                        <li><a href="{:U('admin/index/checkDocument','checked=0&categoryId=1')}">待审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=1&categoryId=1')}">已通过审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=-1&categoryId=1')}">未通过审核文档</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>管理员列表</h1>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>昵称</th>
                    <th>注册时间</th>
                    <th>栏目发布编辑权限</th>
                    <th>审核的栏目权限</th>
                    <th>审核培训机构权限</th>
                    <th>状态</th>
                </tr>
                <foreach name="admins" item="a">
                    <tr>
                        <td>
                            {$a['nickname']}
                        </td>
                        <td name="text-create_time">
                            {$a['reg_time']}
                        </td>
                        <td>
                            {$a['per_categorys_post']}
                        </td>
                        <td>
                            {$a['per_categorys_check']}
                        </td>
                           <td>
                            {$a['per_institution_check']}
                        </td>
                        <td>
                            <if condition="$a['status'] eq 1">
                                已通过审核
                                <elseif condition="$a['status'] eq -1" />未通过审核
                                <else>
                                    未审核
                            </if>
                        </td>
                    </tr>
                </foreach>


            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                <button id="btn-next" class="submit">下一页</button>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
</script>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    var cur_page = "{$page}";
    var url_tpl = "{:U('admin/index/adminList','','')}/page/{cur_page}";

     //翻页

    //前一页
    $('#btn-pre').on('click', function() {
        var page_pre = parseInt(cur_page) - 1;
        location = url_tpl.replace('{cur_page}', page_pre);
    });

    //后一页
    $('#btn-next').on('click', function() {
        var page_next = parseInt(cur_page) + 1;
        location = url_tpl.replace('{cur_page}', page_next);
    });


    function timeFormat() {
            $('[name=text-create_time]').each(function() {
                // console.log($(this));
                var millisec = parseInt($(this).text()) * 1000;
                var date = new Date();
                date.setTime(millisec);
                var format_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                $(this).text(format_string)
            });
        }
        //格式化时间
    timeFormat();
})(jQuery);
</script>
</html>
