<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}" >发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}" >广告设置</a>
                </li>
                <li><a href="{:U('admin/index/userList')}" >用户列表置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表置</a>
                </li>
                <li><a href="#Menu=ChildMenu5" onClick="DoMenu('ChildMenu5')">机构管理</a>
                    <ul id="ChildMenu5" class="collapsed">
                        <li><a href="{:U('admin/index/checkInstitution','checked=0')}">待审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=1')}">已通过审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=-1')}">未通过审核机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu6" onClick="DoMenu('ChildMenu6')">文档信息管理</a>
                    <ul id="ChildMenu6" class="collapsed">
                        <li><a href="{:U('admin/index/checkDocument','checked=0&categoryId=1')}">待审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=1&categoryId=1')}">已通过审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=-1&categoryId=1')}">未通过审核文档</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{:U('admin/index/setting')}" >系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>管理员列表</h1>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>培训机构</th>
                    <th>办学类型</th>
                    <th>地址</th>
                    <th>联系人</th>
                    <th>审核状态</th>
                    <th>操作</th>
                </tr>
        
            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                <button id="btn-next" class="submit">下一页</button>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
 
</script>

</html>
