<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">单位用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>管理员列表</h1>
        </div>
        <div style="margin: 10px;">
            <h3>* 状态</h3>
            <select id="select-category" name="select" style="font-family: 微软雅黑; border: 2px solid #ededed; border-radius: 3px;">
                <option value="1">正常</option>
                <option value="-2">锁定</option>
            </select>
            <if condition="$admin['level'] eq 16">
                <input id="btn-create" style="float:right;width:80px;" type="submit" class="submit" value="创建管理员">
            </if>
        </div>

        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>姓名</th>
                    <th>栏目编辑</th>
                    <th>栏目审核</th>
                    <th>培训机构管理</th>
                    <th>个人用户管理</th>
                    <th>单位用户管理</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <foreach name="admins" item="a">
                    <tr>
                        <td>
                            {$a['nickname']}
                        </td>
                        <td>
                            <if condition="count($a['per_categorys_post']) eq 7">
                                全部
                                <elseif condition="count($a['per_categorys_post']) eq 0" />无权限
                                <else/>部分
                            </if>
                        </td>
                        <td>
                            <if condition="count($a['per_categorys_check']) eq 7">
                                全部
                                <elseif condition="count($a['per_categorys_check']) eq 0" />无权限
                                <else/>部分
                            </if>
                        </td>
                        <td>
                            <if condition="$a['per_institution_check'] eq 1">
                                是
                                <else/>否
                            </if>
                        </td>
                        <td>
                            <if condition="$a['per_person_man'] eq 1">
                                是
                                <else/>否
                            </if>
                        </td>
                        <td>
                            <if condition="$a['per_employer_man'] eq 1">
                                是
                                <else/>否
                            </if>
                        </td>

                        <td>
                            <if condition="$a['status'] eq 1">
                                正常
                                <else />锁定
                            </if>
                        </td>
                        <td>
                            <a name="btn-view" href="javascript:void(0);" data-id="{$a['uid']}">查看</a>
                                <if condition="($a['status'] eq 1) and ($admin['level'] eq 16)"> 
                                  |
		                            <a name="btn-operate" href="javascript:void(0);" data-id="{$a['uid']}">
                                    锁定
    		                        </a>
                                    <elseif condition="($a['status'] eq -2) and ($admin['level'] eq 16)"/>
 																 |
 		                            <a name="btn-operate" href="javascript:void(0);" data-id="{$a['uid']}">
																		解锁	
																</a>
                                </if>
                            <if  condition="$admin['level'] eq 16" >
                                |  <a name="btn-delete" href="javascript:void(0);" data-id="{$a['uid']}">删除</a>
                            </if>

                        </td>
                    </tr>
                </foreach>


            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                {$page}
                <button id="btn-next" class="submit">下一页</button>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
</script>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    var cur_page = "{$page}";
    var status = "{$status}";
    var url_tpl = "{:U('admin/index/adminList','','')}/status/{status}/page/{cur_page}";

    $('#select-category').on('change', function() {
        location = url_tpl.replace('{cur_page}', cur_page).replace('{status}', $(this).val());
    });
    //初始化栏目
    $('#select-category').val(status);

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    $('#btn-create').on('click', function() {
        location = "{:U('admin/index/createAdmin')}";
    });
    //锁定/解锁 操作
    $('[name=btn-operate]').on('click', function() {
        var $ele = $(this);
        var post_data = {
            admin_id: $ele.data('id')
        };
        if (status == '1') {
            post_data['op'] = -2; //锁定
        } else {
            post_data['op'] = 1; //正常
        }
        console.log(post_data);
        $.post("{:U('home/admin/vertify','','')}", post_data, function(json) {
            console.log(json);
            if (json.code) {
                $ele.parent().parent().fadeOut();
                console.log(json.response);
            } else {
                console.log(json.msg);
            }
        });
    });


    $('[name=btn-view]').on('click', function() {
            var $ele = $(this);
            var admin_id = $ele.data('id');
            var url = "/mz/index.php/admin/index/viewAdmin/admin_id/"+admin_id;
            console.log(url);
            location = url;
    });
    //删除操作
    $('[name=btn-delete]').on('click',function(){

         if (!confirm('确认要删除此管理员用户吗?')) return;
         var $ele = $(this);
         var admin_id = $ele.data('id');
         var post_data = {
            admin_id:admin_id
         };




         $.post("{:U('home/admin/deleteAdmin')}",post_data,function(json){
            if(json.code){
                alert('操作成功');
                $ele.parent().parent().fadeOut();
            }else{
                alert(json.msg);
            }
         });
    });



    //翻页

    //前一页
    $('#btn-pre').on('click', function() {
        var page_pre = parseInt(cur_page) - 1;
        location = url_tpl.replace('{cur_page}', page_pre).replace('{status}', status);
    });

    //后一页
    $('#btn-next').on('click', function() {
        var page_next = parseInt(cur_page) + 1;
        location = url_tpl.replace('{cur_page}', page_next).replace('{status}', status);
    });


    function timeFormat() {
            $('[name=text-create_time]').each(function() {
                // console.log($(this));
                var millisec = parseInt($(this).text()) * 1000;
                var date = new Date();
                date.setTime(millisec);
                var format_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                $(this).text(format_string)
            });
        }
        //格式化时间
    timeFormat();
})(jQuery);
</script>

</html>
