<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />



</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">企业用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>


    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>已上架广告</h1>

        </div>
        <div style="margin-left: 4px;">
            <span style="color:red;">*</span>
            <span>最多前显示5条广告</span>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>广告图片</th>
                    <th>广告描述</th>
                    <th>操作</th>
                </tr>
                <foreach name="ad_display" item="ad">
                    <tr>
                        <td style="width:40%;max-width: 45%">
                            <img src="{$ad['pic_url']}" width="50%" height="30%">
                        </td>
                        <td>{$ad['description']}</td>
                        <td><a name="btn-undisplay" href="javascript:void(0);" data-id="{$ad['id']}"> 下架 </a>|<a name="btn-delete" href="javascript:void(0);" data-id="{$ad['id']}"> 删除广告</a>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>



        <div class="ht" style="margin-top:50px;">
            <h1>未上架广告</h1>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>广告图片</th>
                    <th>广告描述</th>
                    <th>操作</th>
                </tr>
                <foreach name="ad_undisplay" item="ad">
                    <tr>
                        <td style="width:40%;max-width: 45%">
                            <img src="{$ad['pic_url']}" width="50%" height="30%">
                        </td>
                        <td>{$ad['description']}</td>
                        <td><a name="btn-display" href="javascript:void(0);" data-id="{$ad['id']}"> 上架 </a>|<a name="btn-delete" href="javascript:void(0);" data-id="{$ad['id']}"> 删除广告</a>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });
    //上架
    $('[name=btn-undisplay').on('click', function() {
        $ele = $(this);
        var ad_id = $ele.data('id');
        $.post("{:U('home/ad/undisplayAd')}", {
            ad_id: ad_id,
        }, function(json) {
            if (json.code) {
                alert('操作成功');
                setTimeout(function() {
                    location = location.href;
                }, 500);
            } else {
                alert(json.msg);
            }
        });
    });
    //下架
    $('[name=btn-display').on('click', function() {
        $ele = $(this);
        var ad_id = $ele.data('id');
        $.post("{:U('home/ad/diplayAd')}", {
            ad_id: ad_id,
        }, function(json) {
            if (json.code) {
                alert('操作成功');
                setTimeout(function() {
                    location = location.href;
                }, 500);
            } else {
                alert(json.msg);
            }
        });
    });
    //删除
    $('[name=btn-delete').on('click', function() {
        $ele = $(this);
        var ad_id = $ele.data('id');
        $.post("{:U('home/ad/delete')}", {
            ad_id: ad_id,
        }, function(json) {
            console.log(json);
            if (json.code) {
                alert('操作成功');
                setTimeout(function() {
                    location = location.href;
                }, 500);
            } else {
                alert(json.msg);
            }
        });
    });

})(jQuery);
</script>

</html>
