<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
               <li><a href="{:U('admin/index/postDocument')}" >发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}" >广告设置</a>
                </li>
                <li><a href="{:U('admin/index/userList')}" >用户列表置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表置</a>
                </li>
                <li><a href="#Menu=ChildMenu5" onClick="DoMenu('ChildMenu5')">机构管理</a>
                    <ul id="ChildMenu5" class="collapsed">
                        <li><a href="{:U('admin/index/checkInstitution','checked=0')}">待审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=1')}">已通过审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=-1')}">未通过审核机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu6" onClick="DoMenu('ChildMenu6')">文档信息管理</a>
                    <ul id="ChildMenu6" class="collapsed">
                        <li><a href="{:U('admin/index/checkDocument','checked=0&categoryId=1')}">待审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=1&categoryId=1')}">已通过审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=-1&categoryId=1')}">未通过审核文档</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{:U('admin/index/setting')}" >系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>审核文档</h1>
        </div>
        <div style="margin: 10px;">
            <h3>* 栏目选择</h3>
            <select id="select-category" name="select" style="font-family: 微软雅黑; border: 2px solid #ededed; border-radius: 3px;">
                <option value="1">职业培训-基本职能</option>
                <option value="2">职业培训-法律法规及政策</option>
                <option value="3">职业培训-相关新闻</option>
                <option value="4">职业培训-通知信息</option>
                <option value="5">职业技能鉴定-政策法规</option>
                <option value="6">职业技能鉴定-办事指南</option>
                <option value="7">职业技能鉴定-全国统考</option>
            </select>
        </div>
        <div id="ins_form">
            <table>
                <tr>
                    <th style="width:40%;padding: 4px">标题</th>
                    <th>发布时间</th>
                    <th>发布人</th>
                    <th>审核人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>

                <foreach name="documents" item="doc">
                    <tr>
                        <td style="text-align:left;padding-left:15px;padding-right:15px;">{$doc['title']}</td>
                        <td name="text-create_time">{$doc['create_time']}</td>
                        <td>{$doc['author']['nickname']}</td>
                        <td>{$doc['vertifyer']['nickname']}</td>
                        <td>
                            <if condition="$doc['status'] eq 0 ">
                                未审核
                                <elseif condition="$doc['status'] eq 1" />已通过
                                <else />未通过
                            </if>
                        </td>
                        <td>
                            <span><a href="/mz/index.php/admin/index/viewDocument/doc_id/{$doc['id']}"> 查看 </a>|<a href="/mz/index.php/admin/index/postDocument/doc_id/{$doc['id']}"> 编辑</a>
                                <if condition="$doc['status'] eq 0 ">
                                    |<a name="vertify-pass" href="javascript:void(0);" data-id="{$doc['id']}"> 通过审核</a>
                                    |
                                    <a name="vertify-unpass" href="javascript:void(0);" data-id="{$doc['id']}"> 驳回审核</a>
                                    <elseif condition="$doc['status'] eq 1" />|
                                    <a name="btn-addAd" href="javascript:void(0);" data-id="{$doc['id']}"> 添加至广告</a>
                                    <else />
                                </if>
                            </span>
                            </a>
                        </td>
                    </tr>
                </foreach>

            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                <button id="btn-next" class="submit">下一页</button>

            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //初始化
    var checked = "{$checked}";
    var cur_page = "{$page}";
    var cur_category = "{$categoryId}";
    var url_tpl = "{:U('admin/index/checkDocument','','')}/checked/{checked}/categoryId/{cur_category}/page/{cur_page}";
    var url = "{:U('admin/index/checkDocument','','')}" + "/categoryId/" + cur_category + '/page/';

    $('#select-category').on('change', function() {
        location = url_tpl.replace('{cur_category}', $(this).val()).replace('{cur_page}', cur_page).replace('{checked}', checked);
    });
    //初始化栏目
    $('#select-category').val(cur_category);

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });
    //翻页

    //前一页
    $('#btn-pre').on('click', function() {
        var page_pre = parseInt(cur_page) - 1;
        location = url_tpl.replace('{cur_category}', $('#select-category').val()).replace('{cur_page}', page_pre).replace('{checked}', checked);
    });

    //后一页
    $('#btn-next').on('click', function() {
        var page_next = parseInt(cur_page) + 1;
        location = url_tpl.replace('{cur_category}', $('#select-category').val()).replace('{cur_page}', page_next).replace('{checked}', checked);
    });

    //审核通过
    $('[name=vertify-pass]').on('click', function() {
        var $ele = $(this);
        var doc_id = $ele.data('id');
        var op = 1;
        $.post("{:U('/home/document/vertify')}", {
            doc_id: doc_id,
            op: op
        }, function(json) {
            console.log(json);
            if (json.code) {
                alert("操作成功");
                $ele.parent().parent().parent().fadeOut();
            } else {
                alert('操作失败');
                console.log(json.msg);
            }
        });
    });

    //审核不通过
    $('[name=vertify-unpass]').on('click', function() {
        var $ele = $(this);
        var doc_id = $ele.data('id');
        var op = -1;
        $.post("{:U('/home/document/vertify')}", {
            doc_id: doc_id,
            op: op
        }, function(json) {
            console.log(json);
            if (json.code) {
                alert("操作成功");
                $ele.parent().parent().parent().fadeOut();
            } else {
                alert('操作失败');
                console.log(json.msg);
            }
        });
    });

    //添加至广告
    $('[name=btn-addAd]').on('click', function() {
        var $ele = $(this);
        var doc_id = $ele.data('id');
        $.post("{:U('home/ad/createByDoc','','')}", {
            doc_id: doc_id,
        }, function(json) {
            if (json.code) {
                alert('添加广告成功');
            } else {
                alert(json.msg);
            }
        })
    });


    function timeFormat() {
            $('[name=text-create_time]').each(function() {
                // console.log($(this));
                var millisec = parseInt($(this).text()) * 1000;
                var date = new Date();
                date.setTime(millisec);
                var format_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                $(this).text(format_string)
            });

        }
        //格式化时间
    timeFormat();

})(jQuery);
</script>

</html>
