<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
     <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="/mz/index.php/admin/index/postDocument" onclick="DoMenu('ChildMenu1')">发布信息</a>
                </li>
                <li><a href="#Menu=ChildMenu2" onClick="DoMenu('ChildMenu2')">审核资料</a>
                    <ul id="ChildMenu2" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkInstitution">培训机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu3" onClick="DoMenu('ChildMenu3')">审核信息</a>
                    <ul id="ChildMenu3" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/1">基本职能</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/2">法律法规及政策</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/3">相关新闻</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/4">通知信息</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/5">政策法规</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/6">办事指南</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/7">全国统考</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>审核文档</h1>
        </div>
        <div id="ins_form">
            <table>
                <tr>
                    <th style="width:450px;padding: 4px">标题</th>
                    <th>发布时间</th>
                    <th>发布人</th>
                    <th>审核人</th>
                    <th style="width:150px">操作</th>
                </tr>

                <foreach name="documents" item="doc">
                    <tr>
                        <td>{$doc['title']}</td>
                        <td>{$doc['create_time']}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <span id="title_bar" ><a href="/mz/index.php/admin/index/viewDocument/doc_id/{$doc['id']}"> 查看 </a>|<a href="/mz/index.php/admin/index/postDocument/doc_id/{$doc['id']}"> 编辑
            </a>|<a name="vertify" href="javascript:void(0);" data-id="{$doc['id']}"> 通过审核</a>
                            </span>
                            </a>
                        </td>
                    </tr>
                </foreach>

            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit" >上一页</button>
                <button id="btn-next" class="submit">下一页</button>

            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    var cur_page = "{$page}";
    var cur_category ="{$categoryId}";
    var url = "{:U('admin/index/checkDocument','','')}" + "/categoryId/"+cur_category+'/page/';

    //前一页
    $('#btn-pre').on('click',function(){
        location = url+(parseInt(cur_page)-1);
    });

     //后一页
    $('#btn-next').on('click',function(){
        location =url+(parseInt(cur_page)+1);
    });

})(jQuery);
</script>

</html>
