<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">单位用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>审核资料</h1>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>培训机构</th>
                    <th>办学类型</th>
                    <th>地址</th>
                    <th>联系人</th>
                    <th>审核状态</th>
                    <th>审核人</th>
                    <th>操作</th>
                </tr>
                <foreach name="institutions" item="ins">
                    <tr>
                        <td>{$ins['name']}</td>
                        <td>{$ins['type']}</td>
                        <td>{$ins['address']}</td>
                        <td>{$ins['manager']}</td>
                        <td>
                            <if condition="$ins['status'] eq 0 ">
                                   未审核
                                <elseif condition="$ins['status'] eq 1" />
                                   已通过
                                <else />
                                   未通过
                            </if>

                        </td>
                         <td>{$ins['vertifyer']['nickname']}</td>
                        <td>
                            <span><a href="/mz/index.php/admin/index/viewInstitution/institutionId/{$ins['uid']}">查看</a>
                            </span>
                        </td>
                    </tr>
                </foreach>
            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                <button id="btn-next" class="submit">下一页</button>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });
    //分页
    var cur_page = "{$page}";
    var url = "{:U('admin/index/checkInstitution','','')}" +'/checked/'+parseInt("{$checked}") +'/page/';

    //前一页
    $('#btn-pre').on('click', function() {
        location = url + (parseInt(cur_page) - 1);
    });

    //后一页
    $('#btn-next').on('click', function() {
        location = url + (parseInt(cur_page) + 1);
    });

})(jQuery);
</script>

</html>
