<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">企业用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>企业用户列表</h1>
        </div>
        <div style="margin: 10px;">
            <h3>* 审核状态</h3>
            <select id="select-category" name="select" style="font-family: 微软雅黑; border: 2px solid #ededed; border-radius: 3px;">
                <option value="1">正常</option>
                <option value="-2">锁定</option>

            </select>
        </div>
        <div id="ins_form">
            <table width="800px;">
                <tr>
                    <th>名称</th>
                    <th>注册时间</th>
                    <th>联系方式</th>
                    <th>注册邮箱</th>
                    <th>用户状态</th>
                    <th>操作</th>
                </tr>
                <foreach name="employers" item="e">
                    <tr>
                        <td>
                            {$e['nickname']}
                        </td>
                        <td name="text-create_time">
                            {$e['reg_time']}
                        </td>
                        <td>
                            {$e['contact_phone']}
                        </td>
                        <td>
                            {$e['email']}
                        </td>

                        <td>
                            <if condition="$e['status'] eq 1">
                                正常
                                <elseif condition="$e['status'] eq -2" />锁定
                            </if>
                        </td>
                        <td>
                            <a name="btn-view" href="#" data-id="{$e['uid']}">查看</a>
                            <if condition="($e['status'] eq 1) AND (($admin['level'] eq 16) OR (($admin['level'] eq 8) AND ($admin['per_person_man'] eq 1)))">
                                | <a name="btn-operate" href="javascript:void(0);" data-id="{$e['uid']}">锁定</a>
                                <elseif condition="($e['status'] eq -2) 
and (($admin['level'] eq 16) OR (($admin['level'] eq 8) and ($admin['per_person_man'] eq 1)))" />| <a name="btn-operate" href="javascript:void(0);" data-id="{$e['uid']}">解锁</a>
                            </if>
                            <if condition="($admin['level'] eq 16) OR (($admin['level'] eq 8) and ($admin['per_person_man'] eq 1))">
                                | <a name="btn-delete" href="javascript:void(0);" data-id="{$e['uid']}">删除</a>
                            </if>
                        </td>
                    </tr>
                </foreach>


            </table>
            <div class="syxy">
                <button id="btn-pre" class="submit">上一页</button>
                {$page}
                <button id="btn-next" class="submit">下一页</button>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    var cur_page = "{$page}";
    var status = "{$status}";
    var url_tpl = "{:U('admin/index/employerList','','')}/status/{status}/page/{cur_page}";

    $('#select-category').on('change', function() {
        location = url_tpl.replace('{cur_page}', 1).replace('{status}', $(this).val());
    });
    //初始化栏目
    $('#select-category').val(status);


    //查看
    $('[name=btn-view]').on('click', function() {
        var $ele = $(this);
        var user_id = $ele.data('id');
        var url = "{:U('admin/index/viewEmployer','','')}/employer_id/" + user_id;
        // console.log(url);
        location = url;
    });

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    //翻页

    //前一页
    $('#btn-pre').on('click', function() {
        var page_pre = parseInt(cur_page) - 1;
        location = url_tpl.replace('{cur_page}', page_pre).replace('{status}', status);
    });

    //后一页
    $('#btn-next').on('click', function() {
        var page_next = parseInt(cur_page) + 1;
        location = url_tpl.replace('{cur_page}', page_next).replace('{status}', status);
    });

    //锁定/解锁 操作
    $('[name=btn-operate]').on('click', function() {
        var $ele = $(this);
        var post_data = {
            employer_id: $ele.data('id')
        };
        if (status == '1') {
            post_data['op'] = -2; //锁定
        } else {
            post_data['op'] = 1; //正常
        }
        console.log(post_data);
        $.post("{:U('home/Employer/vertify','','')}", post_data, function(json) {
            console.log(json);
            if (json.code) {
                $ele.parent().parent().fadeOut(function(){
                    location = location.href;
                });
                console.log(json.response);
            } else {
                console.log(json.msg);
            }
        });
    });

    //删除操作
    $('[name=btn-delete]').on('click',function(){

         if (!confirm('确认要删除此用户吗?')) return;
         var $ele = $(this);
         var employer_id = $ele.data('id');
         var post_data = {
            employer_id:employer_id
         };
         $.post("{:U('home/Employer/delete','','')}",post_data,function(json){
            if(json.code){
                alert('操作成功');
                $ele.parent().parent().fadeOut(function(){
                    location = location.href;
                });
            }else{
                alert(json.msg);
            }
         });
    });
})(jQuery);
</script>

</html>
