<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">

    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="/mz/index.php/admin/index/postDocument" onclick="DoMenu('ChildMenu1')">发布信息</a>
                </li>
                <li><a href="#Menu=ChildMenu2" onClick="DoMenu('ChildMenu2')">审核资料</a>
                    <ul id="ChildMenu2" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkInstitution">培训机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu3" onClick="DoMenu('ChildMenu3')">审核信息</a>
                    <ul id="ChildMenu3" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/1">基本职能</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/2">法律法规及政策</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocumentn/categoryId/3">相关新闻</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/4">通知信息</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/5">政策法规</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/6">办事指南</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/7">全国统考</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input type="text" value="" placeholder="搜索关键字" style="border-radius: 10px; font-family: 微软雅黑; color: #6a6a6a; padding-left: 20px; float: right;">

        <img src="/mz/Public/images/messages.png" width="30px" height="30px">
        <img src="/mz/Public/images/setout.png" width="30px" height="30px">
        <img src="/mz/Public/images/setting.png" width="30px" height="30px">
        <img src="/mz/Public/images/user.png" width="30px" height="30px">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <span>
            <h1>欢迎使用ZW管理系统！</h1>
        </span>
        <br>
        <span>使用教程：</span>
        <br>
        <span>东莞市职业训练指导中心手机APP及维护平台”的总体建设目标是通过手机APP为全市城乡劳动者提供有关职业培训及职业技术鉴定的各种政策信息及相关服务，构建一个集信息发布、业务管理、咨询、培训和技能鉴定于一体的综合服务平台。</span>
    </div>
</body>

</html>
