<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />



</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>

                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">企业列表</a>
                </li>
                <li><a href="#Menu=ChildMenu5" onClick="DoMenu('ChildMenu5')">机构管理</a>
                    <ul id="ChildMenu5" class="collapsed">
                        <li><a href="{:U('admin/index/checkInstitution','checked=0')}">待审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=1')}">已通过审核机构</a>
                        </li>
                        <li><a href="{:U('admin/index/checkInstitution','checked=-1')}">未通过审核机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu6" onClick="DoMenu('ChildMenu6')">文档信息管理</a>
                    <ul id="ChildMenu6" class="collapsed">
                        <li><a href="{:U('admin/index/checkDocument','checked=0&categoryId=1')}">待审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=1&categoryId=1')}">已通过审核文档</a>
                        </li>
                        <li><a href="{:U('admin/index/checkDocument','checked=-1&categoryId=1')}">未通过审核文档</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>


    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <div class="ht">
            <h1>发布文档</h1>
        </div>

        <div id="cat_wr">

            <div id="cat_top">
                <table width="100%" border="0">
                    <tr>
                        <td width="100">
                            <div align="right">标题</div>
                        </td>
                        <td width="400">
                            <input id="text-title" class="inp" name="textarea3" type="text" style="height:100%;width:100%;" value="{$document['title']}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">栏目</div>
                        </td>
                        <td>
                            <select id="select-category" name="select" style="font-family: 微软雅黑; border: 2px solid #ededed; border-radius: 3px;">
                                <option value="1">职业培训-基本职能</option>
                                <option value="2">职业培训-法律法规及政策</option>
                                <option value="3">职业培训-相关新闻</option>
                                <option value="4">职业培训-通知信息</option>
                                <option value="5">职业技能鉴定-政策法规</option>
                                <option value="6">职业技能鉴定-办事指南</option>
                                <option value="7">职业技能鉴定-全国统考</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">文档附件</div>
                        </td>
                        <td>
                            <div id="drag-and-drop-zone" class="uploader">
                                <input style="width:150px;" type="file" name="image2">
                                <span>
                                    <strong style="color:red;">*</strong>
                                    <strong>仅支持doc,docx,jpg,png,gif ,单文件最大为3M</strong>
                                    <!-- <strong id="progress"></strong> -->
                                </span>
                                <br>
                                <div id="fileList">
                                    <foreach name="document.files" item="file">
                                        <div>
                                            <span>{$file['raw_name']} 已上传</span><a href="javascript:void(0);" style="margin-left: 10px;" name="btn-delete" data-id="{$file['id']}">删除</a>
                                            <br>
                                        </div>
                                    </foreach>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">内容</div>
                        </td>
                        <td height="400">

                            <script id="editor" type="text/plain" style="height:100%;width:100%;margin:10px;"></script>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right"></div>
                        </td>
                        <td>
                            <input id="btn-submit" name="submit3" type="submit" class="submit" id="btn-submit" value="发布">
                        </td>
                    </tr>
                </table>
            </div>
        </div>


</body>
<!-- UEditor START-->
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- UEditor end-->

<script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
<script type="text/javascript">
var initContent = '{$document["content"]}';



//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor', {
    toolbars: [
        ['fullscreen', 'undo', 'redo', 'bold']
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    enableAutoSave: false,
    saveInterval: 2000000000,
    enableContextMenu: false, //打开右键菜单功能
    initialContent: '', //初始化编辑器的内容
    initialFrameWidth: 800,
});

ue.ready(function() {
    ue.setContent(initContent);
});
</script>
<!-- UEditor END-->
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript" src="/mz/Public/js/dmuploader.js"></script>
<script type="text/javascript">
(function($) {
    var doc_id = "{$document['id']}";
    var file_ids = {};
    if ('{$file_ids}' !== '' && '{$file_ids}' !== 'null') {
        file_ids = JSON.parse('{$file_ids}'); //附件 init..
    }

    //更新文档附件
    function updateDocFiles() {
        console.log('updateDocFiles');
        console.log({
            doc_id: doc_id,
            // file_ids: JSON.stringify(file_ids),
            file_ids: file_ids,
        });
        $.post("{:U('home/document/updateDocFiles','','')}", {
            doc_id: doc_id,
            file_ids: file_ids,
        }, function(json) {
            console.log("upload file result::");
            console.log(json);
            if (json.code) {
                alert('操作成功');
                setTimeout(function() {
                    location = "{:U('admin/index/postDocument')}";
                }, 500);

            } else {
                console.log(json);
                alert(json.msg);
            }
        });
    }

    //发布
    $('#btn-submit').on('click', function() {
        var category_id = $('#select-category').val();
        var title = $('#text-title').val();
        var content = UE.getEditor('editor').getContent();

        var entity = {
            'title': title,
            'content': content,
            'category_id': category_id,

        };
        if (title === '' || content === '') {
            alert('标题/内容均不能为空');
            return;
        }

        if (doc_id === undefined || doc_id === '') {
            //add
            $.post('/mz/index.php/home/document/post', {
                'title': title,
                'content': content,
                'category_id': category_id,
            }, function(json) {
                if (json.code) {

                    doc_id = json.response;
                    updateDocFiles();
                } else {
                    alert(json.msg);
                }
            });
        } else {
            //update
            $.post("{:U('home/document/update','','')}", {
                'title': title,
                'content': content,
                'category_id': category_id,
                'doc_id': doc_id
            }, function(json) {
                if (json.code) {
                    updateDocFiles();

                } else {
                    alert(json.msg);
                }
            });
        }

    });

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    //删除一条上传的条目
    $('#fileList').on('click', '[name=btn-delete]', function() {
        var $ele = $(this);
        var file_id = $ele.data('id');
        $.post("{:U('home/document/deleteFile','','')}", {
            file_id: file_id,
        }, function(json) {
            //fuck here
            if (json.code) {
                $ele.parent().html('');
                delete file_ids[file_id];
                location = location;
            } else {
                // json
                alert('删除失败');
            }
        });
    });

    function add_log(message) {
        console.log(message);
    }

    function add_file(file_name, file_id) {
        var template = '<div><span>{file_name}  已上传</span><a href="javascript:void(0);" style="margin-left: 10px;" name="btn-delete" data-id="{file_id}">删除</a><br></div>';

        if (file_name && file_id) {
            $('#fileList').prepend(template.replace('{file_name}', file_name).replace('{file_id}', file_id));
        }

    }

    //上传
    // Upload Plugin itself
    $('#drag-and-drop-zone').dmUploader({
        url: "{:U('home/document/upload')}",
        dataType: 'json',
        // allowedTypes: '*',
        /*extFilter: 'jpg;png;gif',*/
        onInit: function() {
            add_log('Penguin initialized :)');
        },
        onBeforeUpload: function(id) {
            add_log('Starting the upload of #' + id);

        },

        onComplete: function() {
            add_log('All pending tranfers finished');
        },
        onUploadProgress: function(id, percent) {
            var percentStr = percent + '%';
            // $('#progress').text('上传进度: ' + percentStr);
        },
        //上传文件成功
        onUploadSuccess: function(id, data) {
            add_log('Upload of file #' + id + ' completed');

            add_log('Server Response for file #' + id + ': ' + JSON.stringify(data));
            if (data.code) {
                add_file(add_file(data.response.raw_name, data.response.id));
                file_ids[data.response.id] = data.response.id;
            } else {
                alert(data.msg);
            }
        },
        onUploadError: function(id, message) {
            add_log('Failed to Upload file #' + id + ': ' + message);

        },
        onFileTypeError: function(file) {
            add_log('File \'' + file.name + '\' cannot be added: must be an image');

        },
        onFileSizeError: function(file) {
            add_log('File \'' + file.name + '\' cannot be added: size excess limit');
        },
        onFileExtError: function(file) {
            // $.danidemo.addLog('#demo-debug', 'error', 'File \'' + file.name + '\' has a Not Allowed Extension');
        },
        onFallbackMode: function(message) {
            alert('Browser not supported(do something else here!): ' + message);
        }
    });


    function init() {
        // 栏目
        if (parseInt("{$document['category_id']}")) {
            $('#select-category').val(parseInt("{$document['category_id']}"));
        } else {
            $('#select-category').val(1);
        }
    }

    init();
})(jQuery);
</script>

</html>
