<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>

</head>

<body>
    <div id="logo">
       <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="/mz/index.php/admin/index/postDocument" onclick="DoMenu('ChildMenu1')">发布信息</a>
                </li>
                <li><a href="#Menu=ChildMenu2" onClick="DoMenu('ChildMenu2')">审核资料</a>
                    <ul id="ChildMenu2" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkInstitution">培训机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu3" onClick="DoMenu('ChildMenu3')">审核信息</a>
                    <ul id="ChildMenu3" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/1">基本职能</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/2">法律法规及政策</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/3">相关新闻</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/4">通知信息</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/5">政策法规</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/6">办事指南</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/7">全国统考</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>


    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <div class="ht">
            <h1>发布文档</h1>
        </div>

        <div id="cat_wr">

            <div id="cat_top">
                <table width="100%" border="0">
                    <tr>
                        <td width="50">
                            <div align="right">标题</div>
                        </td>
                        <td width="400">
                            <input id="text-title" class="inp" name="textarea3" type="text" style="height:100%;width:100%;" value="{$document['title']}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">栏目</div>
                        </td>
                        <td>
                            <select id="select-category" name="select" style="font-family: 微软雅黑; border: 2px solid #ededed; border-radius: 3px;">
                                <option value="1">基本职能</option>
                                <option value="2">法律法规及政策</option>
                                <option value="3">相关新闻</option>
                                <option value="4">通知信息</option>
                                <option value="5">政策法规</option>
                                <option value="6">办事指南</option>
                                <option value="7">全国统考</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">图片附件</div>
                        </td>
                        <td>
                            <input style="width:150px;" type="file" name="image">
                            <input name="submit" type="submit" class="submit" id="btn-submit-image" value="上传">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">文档附件</div>
                        </td>
                        <td>
                            <input style="width:150px;" type="file" name="image2">
                            <input name="submit2" type="submit" class="submit" id="submit" value="上传">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right">内容</div>
                        </td>
                        <td height="400">

                            <script id="editor" type="text/plain" style="height:100%;width:900px;margin:10px;"></script>
                            <!-- <textarea class="inp" name="textarea32" style="height:100%;width:100%;"></textarea> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="right"></div>
                        </td>
                        <td>
                            <input id="btn-submit" name="submit3" type="submit" class="submit" id="btn-submit" value="发布">
                        </td>
                    </tr>
                </table>
            </div>
        </div>


</body>
<!-- UEditor START-->
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/mz/Public/js/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
var initContent = '{$document["content"]}';



//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor', {
    toolbars: [
        ['fullscreen', 'undo', 'redo', 'bold']
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    enableAutoSave: false,
    saveInterval: 2000000000, //妈蛋，百度UEditor的bug！无法关闭，只能暴力延长时间！
    enableContextMenu: false, //打开右键菜单功能
    initialContent: '', //初始化编辑器的内容
    initialFrameWidth: 800,
});

ue.ready(function() {
    ue.setContent(initContent);
});
</script>
<!-- UEditor END-->
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //发布
    $('#btn-submit').on('click', function() {
        var category_id = $('#select-category').val();
        var title = $('#text-title').val();
        var content = UE.getEditor('editor').getContent();
        var doc_id = '{$document["id"]}';

        var entity = {
            'title': title,
            'content': content,
            'category_id': category_id,

        };
        if (title === '' || content === '') {
            alert('标题/内容均不能为空');
            return;
        }
        if (doc_id === '') {
            //add
            $.post('/mz/index.php/home/document/post', {
                'title': title,
                'content': content,
                'category_id': category_id,
            }, function(json) {
                if (json.code) {
                    alert('发布成功')
                    setTimeout(function() {
                        location = "/mz/index.php/admin/index/postDocument";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        } else {
            //update
            $.post('/mz/index.php/home/document/update', {
                'title': title,
                'content': content,
                'category_id': category_id,
                'doc_id': doc_id
            }, function(json) {
                if (json.code) {
                    alert('发布成功')
                    setTimeout(function() {
                        location = "/mz/index.php/admin/index/postDocument";
                    }, 1000);
                } else {
                    alert(json.msg);
                }
            });
        }

    });

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

})(jQuery);
</script>

</html>
