<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_wd.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">企业用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width:80%;height:auto; display:block; margin:0 auto;  font-size:10pt; line-height:150%; ">
        <div class="ht">
            <h1>系统设置</h1>
        </div>
        <div class="ht_b">
            <!--             <img src="images/bt_hl.jpg" width="30px" height="30px">
 -->
            <h1>清理垃圾数据</h1>
        </div>
        <div class="ht_c">
            <p>使用说明：若系统存在因重复发布或者发布错误而删除的文档，可以点击“一键清理”来清理垃圾数据。</p>
        </div>

        <div id="clear_data">
            <input id="btn-clean" type="button" value="一键清理" class="bt_big">
        </div>

        <div class="ht_b">
            <h1>账号管理</h1>
        </div>
        <div class="ht_c">
            <p>使用说明：若想修改账号密码，请点击下方的“修改密码”按钮，进入修改密码页面，输入原密码与新密码，即可完成修改。</p>
        </div>

        <div id="clear_data">
            <input id="btn-changPsw" type="button" value="修改密码" class="bt_big">
        </div>

        <div class="ht_b">
            <h1>版本信息</h1>
        </div>
        <div id="ins_form">
            <table width="800px;">

                <tr>
                    <th width="100">版本号</th>
                    <td>{$app['version_name']}</td>
                </tr>
                <tr>
                    <th>版本名</th>
                    <td>{$app['version_code']}</td>
                </tr>
                <tr>
                    <th>更新信息</th>
                    <td>{$app['description']}</td>

            </table>

        </div>

<!--         <div class="ht_b">
            <h1>推送消息</h1>
        </div>

        <div id="cat_wr">
            <div id="cat_top">
                <table width="100%" border="0">
                    <tr>
                        <td>
                            <div align="right">内容</div>
                        </td>
                        <td height="100">
                            <label>
                                <textarea name="textfield" style="width:100%;height:100%;"></textarea>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td width="70">
                            <div align="right">群组</div>
                        </td>
                        <td width="400">
                            <label>
                                <input type="checkbox" name="checkbox" value="checkbox">个人用户
                            </label>
                            <label>
                                <input type="checkbox" name="checkbox2" value="checkbox">企业用户
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div align="right"></div>
                        </td>
                        <td>
                            <input id="btn-submit" name="submit3" type="submit" class="submit" id="btn-submit" value="发布">
                        </td>
                    </tr>
                </table>
            </div>
        </div> -->


    </div>

</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>

<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    //一键清理数据
    $('#btn-clean').on('click', function() {
        $.get("{:U('/admin/common/cleanFile')}", function(json) {
            if (json.code) {
                alert(json.response);
            } else {
                alert('操作失败');
            }
        })
    });

    //修改密码
    $('#btn-changPsw').on('click', function() {
        location = "{:U('admin/security/changePsw')}";
    });

})(jQuery);
</script>

</html>
