<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">单位用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <div id="ins_fh">
            <h1>管理员信息</h1>
        </div>
        <div id="ins_form">
            <table>

                <tr>
                    <th width="100px;">管理员姓名</th>
                    <td width="500px;">{$adm['nickname']}</td>
                </tr>
                <tr>
                    <th>登录邮箱</th>
                    <td>{$adm['email']}</td>
                </tr>
                <tr>
                    <th>发布/编辑文档权限</th>
                    <td>
                        <input type="checkbox"                              
                            <if condition="in_array(0,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=0 >职业培训-基本职能

                        <input type="checkbox"                              
                            <if condition="in_array(1,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=1>职业培训-法律法规及政策

                        <input type="checkbox"                              
                            <if condition="in_array(2,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=2>职业培训-相关新闻

                        <input type="checkbox"                              
                            <if condition="in_array(3,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=3>职业培训-通知信息

                        <br/>

                        <input type="checkbox"                              
                            <if condition="in_array(4,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=4>职业技能鉴定-政策法规

                       <input type="checkbox"                              
                            <if condition="in_array(5,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=5>职业技能鉴定-办事指南

                        <input type="checkbox"                              
                            <if condition="in_array(6,$adm['per_categorys_post'])">
                            checked="checked"
                             </if>
												  name="per_categorys_post" value=6>职业技能鉴定-全国统考
                    </td>
                </tr>
                <tr>
                    <th>审核文档权限</th>
                    <td>
                        <input type="checkbox"                              
                            <if condition="in_array(0,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=0>职业培训-基本职能

                        <input type="checkbox"                              
                            <if condition="in_array(1,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=1>职业培训-法律法规及政策

                        <input type="checkbox"                              
                            <if condition="in_array(2,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=2>职业培训-相关新闻

                        <input type="checkbox"                              
                            <if condition="in_array(3,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=3>职业培训-通知信息

                        <br/>

                         <input type="checkbox"                              
                            <if condition="in_array(4,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=4>职业技能鉴定-政策法规

                         <input type="checkbox"                              
                            <if condition="in_array(5,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
												  name="per_categorys_check" value=5>职业技能鉴定-办事指南

                         <input type="checkbox" 
                             <if condition="in_array(6,$adm['per_categorys_check'])">
                            checked="checked"
                             </if>
                          name="per_categorys_check"  value=6>职业技能鉴定-全国统考
                        
                    </td>
                </tr>
                <tr>
                    <th>审核机构权限</th>
                    <td>
                                <input type="radio" name="per_institution_check"
                                 <if condition="$adm['per_institution_check'] eq 1">
                                   checked="checked"
																 </if>
                                 value="1">是&nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="per_institution_check"
                                 <if condition="$adm['per_institution_check'] eq 0">
                                   checked="checked"
																 </if>
                                 value="0">否

                    </td>
                </tr>
                <tr>
                    <th>个人用户管理权限</th>
                    <td>
                                <input type="radio" name="per_person_man"
                                 <if condition="$adm['per_person_man'] eq 1">
                                   checked="checked"
																 </if>
                                 value="1">是&nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="per_person_man"
                                 <if condition="$adm['per_person_man'] eq 0">
                                   checked="checked"
																 </if>
                                 value="0">否
                    </td>
                </tr>
                <tr>
                    <th>单位用户管理权限</th>
                    <td>
                                <input type="radio" name="per_employer_man"
                                 <if condition="$adm['per_employer_man'] eq 1">
                                   checked="checked"
																 </if>
                                 value="1">是&nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="per_employer_man"
                                 <if condition="$adm['per_person_man'] eq 0">
                                   checked="checked"
																 </if>
                                 value="0">否
                    </td>
                </tr>
                <tr>
                    <th>用户状态</th>
                    <td>
                                <input type="radio" name="status"
                                 <if condition="$adm['status'] eq 1">
                                   checked="checked"
																 </if>
                                 value="1">正常&nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="status"
                                 <if condition="$adm['status'] eq -2">
                                   checked="checked"
																 </if>
                                 value="0">锁定
                    </td>
                </tr>
            </table>
            <div class="tab_inp" style="text-align:center;margin-top: 20px">
               <input id="btn-save" data-id="{$adm['uid']}" class="submit" type="submit" value="保存" style="height:40px;width: 100px;"></input>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {

    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    $('#btn-save').on('click', function() {
        var admin_id = "{$adm['uid']}";
        var per_categorys_post = [];
        var per_categorys_check = [];
        var per_institution_check = $('[name=per_institution_check]:checked').val();
        var per_person_man = $('[name=per_person_man]:checked').val();
        var per_employer_man = $('[name=per_employer_man]:checked').val();
        var status = $('[name=status]:checked').val();

        $('[name=per_categorys_post]:checked').each(function(e) {
            per_categorys_post.push($(this).val());
        });

        $('[name=per_categorys_check]:checked').each(function(e) {
            per_categorys_check.push($(this).val());
        });

        var post_data = {
            admin_id: admin_id,
            per_categorys_post: '[' + per_categorys_post.toString() + ']',
            per_categorys_check: '[' + per_categorys_check.toString() + ']',
            per_institution_check: per_institution_check,
            per_person_man: per_person_man,
            per_employer_man: per_employer_man

        }
				//alert(per_categorys_post.toString()) ;
        //submit
        $.post("{:U('home/admin/update')}", post_data,
            function(json) {
                if (json.code) {
                    alert('操作成功');
                    setTimeout(function(){
                        location = "{:U('admin/index/adminList')}"
                    }, 500);
                } else {
                    alert(json.msg);
                }
            });
    });


})(jQuery);
</script>

</html>
