<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <link href="/mz/Public/css/xwnr.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>

</head>

<body>
    <div class="xwbt">
        <h1>{$document['title']}</h1>
    </div>
    <div class="xwxx">
        <span>2014-10-10</span>
    </div>
    <div class="xwnr">

        {$document['content']}
        <br/>
        <div class="xwtp">
            <img src="/mz/Public/images/1.jpg">
        </div>
        <br/>
        <div class="fj">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>附件下载：</span>
            <span><a href="#">课程资料标题</a>
            </span>
        </div>
    </div>


</body>

</html>
