<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/cat_fb.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="logo">
        <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="{:U('admin/index/postDocument')}">发布文档</a>
                </li>
                <li><a href="{:U('admin/index/advertisements')}">广告设置</a>
                </li>
                <li><a href="{:U('admin/index/adminList')}">管理员列表</a>
                </li>
                <li><a href="{:U('admin/index/checkInstitution')}">培训机构列表</a>
                </li>
                <li><a href="{:U('admin/index/userList')}">个人用户列表</a>
                </li>
                <li><a href="{:U('admin/index/employerList')}">企业用户列表</a>
                </li>
                <li><a href="{:U('admin/index/checkDocument')}">文档信息管理</a>
                </li>
                <li><a href="{:U('admin/index/setting')}">系统设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
        <input id="btn-logout" type="submit" value="退出登录" style="float:right;height: 30px;font-size: 16px;">
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <div id="ins_fh">
            <h1>培训机构注册资料</h1>
        </div>
        <div id="ins_form">
            <table>

                <tr>
                    <th>机构名称</th>
                    <td>{$ins['name']}</td>
                </tr>
                <tr>
                    <th>地址</th>
                    <td>{$ins['address']}</td>
                </tr>
                <tr>
                    <th>机构负责人</th>
                    <td>{$ins['manager']}</td>
                </tr>
                <tr>
                    <th>办学类型</th>
                    <td>{$ins['type']}</td>
                </tr>
                <tr>
                    <th>批准文号</th>
                    <td>{$ins['approval_number']}</td>
                </tr>
                <tr>
                    <th>有效期</th>
                    <td>{$ins['validity_date']}</td>
                </tr>
                <tr>
                    <th>培训范围</th>
                    <td>{$ins['training_scope']}</td>
                </tr>

                <tr>
                    <th>附件</th>
                    <td>
                        <div id="fileList">
                            <foreach name="files" item="file">
                                <div>
                                    <a href="{$file['url']}">{$file['raw_name']}</a>
                                    <br>
                                </div>
                            </foreach>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th width="100px;">描述</th>
                    <td width="500px;" style="text-align: center;">
                        <a href="/mz/index.php/admin/view/insIntro/ins_id/{$ins['uid']}">查看简介</a>
                    </td>
                </tr>
                <tr>
                    <th>审核状态</th>
                    <td>
                        <switch name="ins.status">
                            <case value='1'>
                                通过
                            </case>
                            <case value='-1'>
                                不通过
                            </case>
                            <case value='0'>
                                未审核
                            </case>
                        </switch>

                    </td>
                </tr>
            </table>
            <div class="tab_inp" style="text-align:center;margin-top: 20px">
                <if condition="$admin['per_institution_check'] eq 1">
                    <switch name="ins.status">
                        <case value="0">
                            <input id="btn-pass" data-id="{$ins['uid']}" class="submit" type="submit" value="通过审核" style="height:40px;width: 100px;"></input>
                            <input id="btn-unpass" data-id="{$ins['uid']}" class="reset" type="reset" value="审核不通过" style="height:40px;;width: 100px;"></input>
                        </case>
                        <case value="1">
                            <input id="btn-unpass" data-id="{$ins['uid']}" class="reset" type="reset" value="审核不通过" style="height:40px;;width: 100px;"></input>
                        </case>
                        <case value="-1">
                            <input id="btn-pass" data-id="{$ins['uid']}" class="submit" type="submit" value="通过审核" style="height:40px;width: 100px;"></input>
                        </case>
                        <default />
                    </switch>
                </if>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    //退出
    $('#btn-logout').on('click', function() {
        $.get('/mz/index.php/home/user/logout', function(data) {
            // console.log(data);
            if (data.code) {
                location = '/mz/admin/';
            } else {
                console.log(data.msg);
            }
        });
    });

    function req(institution_id, op) {
        $.post("{:U('home/institution/vertify','','')}", {
                'institution_id': institution_id,
                'op': op
            },

            function(json) {
                console.log(json);
                if (json.code) {
                    alert('操作成功');
                    setTimeout(function() {
                        location.href = '/mz/index.php/admin/index/checkInstitution';
                    }, 1000);
                } else {
                    alert('请求失败');
                }
            });
    }
    $('#btn-pass').on('click', function() {
        var btn = $(this);
        var institution_id = btn.data('id');
        req(institution_id, 1);
    });

    $('#btn-unpass').on('click', function() {
        var btn = $(this);
        var institution_id = btn.data('id');
        req(institution_id, -1);
    });
})(jQuery);
</script>

</html>
