<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>


    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>
    <link href="/mz/Public/css/zw_a.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/ins_form.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="logo">
         <a href="{:U('admin/index/index')}">
            <img src="/mz/Public/images/zw_w.png" width="80px" height="55px">
        </a>
    </div>

    <div id="parent_a">
        <div id="PARENT">
            <ul id="nav">
                <li><a href="/mz/index.php/admin/index/postDocument" onclick="DoMenu('ChildMenu1')">发布信息</a>
                </li>
                <li><a href="#Menu=ChildMenu2" onClick="DoMenu('ChildMenu2')">审核资料</a>
                    <ul id="ChildMenu2" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkInstitution">培训机构</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#Menu=ChildMenu3" onClick="DoMenu('ChildMenu3')">审核信息</a>
                    <ul id="ChildMenu3" class="collapsed">
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/1">基本职能</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/2">法律法规及政策</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocumentn/categoryId/3">相关新闻</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/4">通知信息</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/5">政策法规</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/6">办事指南</a>
                        </li>
                        <li><a href="/mz/index.php/admin/index/checkDocument/categoryId/7">全国统考</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>



    <div id="topbar">
        <span>欢迎 {$admin['nickname']}</span>
    </div>

    <!--下面只是说明与程序代码无关-->
    <div id="include" style="width: 80%; height: auto; display: block; margin: 0 auto; font-size: 10pt; line-height: 150%;">
        <div id="ins_fh">
            <h1>培训机构注册资料</h1>
        </div>
        <div id="ins_form">
            <table>

                <tr>
                    <th>机构名称</th>
                    <td>{$ins['name']}</td>
                </tr>
                <tr>
                    <th>地址</th>
                    <td>{$ins['address']}</td>
                </tr>
                <tr>
                    <th>机构负责人</th>
                    <td>{$ins['manager']}</td>
                </tr>
                <tr>
                    <th>办学类型</th>
                    <td>{$ins['type']}</td>
                </tr>
                <tr>
                    <th>批准文号</th>
                    <td>{$ins['approval_number']}</td>
                </tr>
                <tr>
                    <th>有效期</th>
                    <td>{$ins['validity_date']}</td>
                </tr>
                <tr>
                    <th>培训范围</th>
                    <td>{$ins['training_scope']}</td>
                </tr>
                <tr>
                    <th width="100px;">描述</th>
                    <td width="500px;" style="text-align: center;">{$ins['description']}</td>
                </tr>

            </table>

            <div class="tab_inp">
                <input id="btn-pass" data-id="{$ins['uid']}" class="submit" type="submit" value="通过审核" style="width: 100px;"></input>
                <input id="btn-unpass" data-id="{$ins['uid']}" class="reset" type="reset" value="审核不通过" style="width: 100px;"></input>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    function req(institution_id, op) {
        $.post('/mz/index.php/home/institution/vertify', {
                'institution_id': institution_id,
                'op': op
            },

            function(json) {
                console.log(json);
                if (json.code) {
                    alert('操作成功,确认后跳转。。');
                    setTimeout(function(){
                    	 location.href = '/mz/index.php/admin/index/checkInstitution';
                    }, 1500);
                } else {
                    alert('请求失败');
                }
            });
    }
    $('#btn-pass').on('click', function() {
        var btn = $(this);
        var institution_id = btn.data('id');
        req(institution_id, 1);
    });

    $('#btn-unpass').on('click', function() {
        var btn = $(this);
        var institution_id = btn.data('id');
        req(institution_id, -1);
    });
})(jQuery);
</script>

</html>
