<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理界面</title>

    <link href="/mz/Public/css/xwnr.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/mz/Public/js/sidebar.js"></script>

</head>

<body>
    <div class="xwbt">
        <h1>{$document['title']}</h1>
    </div>
    <div class="xwxx">
        <span id="text-time">2014-10-10</span>&nbsp;
        <span>栏目: {$category['category']}-{$category['name']}</span>
    </div>
    <div class="xwnr">

        {$document['content']}
        <br/>
        <div class="xwtp">
            <foreach name="images" item="image">
                <img src="{$image['url']}">
            </foreach>

        </div>
        <br/>
        <div class="fj">
            <notempty name="files">
                <span>附件:</span>
                <foreach name="files" item="file">
                    <br>
                    <span><a href="{$file['url']}">{$file['raw_name']}</a>
                </foreach>
            </notempty>

        </div>
    </div>


</body>
<script type="text/javascript" src="/mz/Public/js/jquery.min.js"></script>
<script type="text/javascript">
(function($) {
    function timeFormat() {
            var millisec = parseInt("{$document['create_time']}") * 1000;
            var date = new Date();
            date.setTime(millisec);
            var format_string = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            $('#text-time').text(format_string)
        }
        //格式化时间
    timeFormat();
})(jQuery);
</script>


</html>
