/* CSS Document */
table {
    font-size: 0.7em;
}
table {
    width: 100%;
    border: 0;
    line-height: 30px;
    margin: 10px auto 0;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
table th {
    background: #66cc00;
    font-weight: normal;
    line-height: 30px;
    font-size: 14px;
    color: #FFF;
}
table tr:nth-child(odd) {
    background: #f1f1f1;
}
/*-------------------------ge hang-------------------*/

table td:nth-child(even) {
    color: #479500;
}
table tr:hover {
    background: #afff60;
    color: #000;
}
table td, table th {
    border: 1px solid #EEE;
}
#ins_fh {
    text-align: center;
    margin-bottom: 20px;
    color: #252932;
}
