/* CSS Document */
/* ------------------------新闻内容----------------------------- */

.xwxx span {
    margin-right: 20px;
    color: #666;
    font-size: 0.90em;
}
.xwxx {
    margin-top: 5px;
    text-align: center;
}
.xwbt {
    text-align: center;
    border-bottom: 3px solid #ededed;
    padding-bottom: 10px;
    margin-top: 10px;
}
.xwnr {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    line-height: 30px;
    padding-left: 0.9em;
    padding-right: 0.9em;
}
.xwnr p {
    margin-bottom: 15px;
}
.xwtp {
    text-align: center;
}
img {
    width: 90%;
    margin-top: 4px;
}
a {
    margin-top: 2px;
}

span{
    font-size: 0.5em;
}
