<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<title>下载</title>

<link href="/mz/Public/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div id="ind_container">
		<div id="ind_center">
			<div id="ind_head">
				<div id="logo">
					<img src="/mz/Public/images/zw_gr.png" height="120px" width="150px">
				</div>
			</div>
			<div id="ind_ht">
				<p>
				<h1>东莞技能培训</h1>
				</p>
				<p>
				<h1>Skills training in Dongguan</h1>
				</p>
			</div>
			<div id="line"></div>
			<div id="ind_login">
				<div class="maxdiv">
					<div class="centerdiv">
						<div class="u">
							 <span>及时了解培训信息</span><br /> 
							 <span>查询相关培训课程</span><br /> 
							 <span>选择靠谱的培训企业</span><br /> 
							  <span>完成课程,领取国家补贴</span><br />
							<a href="{$app['url']}">点击下载最新应用</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<p>Skills training in Dongguan</p>
				<p>2014</p>
			</div>
		</div>
	</div>
</body>
</html>
