<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$institution['name']}</title>

    <link href="/mz/Public/css/wz_ck_mobile.css" rel="stylesheet" type="text/css" />
    <link href="/mz/Public/css/xwnr.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="xwbt">
        <h2>{$institution['name']}</h2>
    </div>
    <div class="xwnr">
        {$institution['description']} 
    </div>
</body>

</html>